@use "mq" as *;

.container {
    position: relative;
    z-index: 0;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq(md) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}