@use "mq" as *;

.container {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq(md) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

// .shown-3d {
//     transform: rotateX(0);
//     opacity: 1;
//     &:hover {
//         transform: rotateX(-90deg);
//         opacity: 0;
//     }
// }
// .hidden-3d {
//     transform: rotateX(90deg);
//     opacity: 0;
//     &:hover {
//         transform: rotateX(0);
//         opacity: 1;
//     }
// }