$cBlack: black;
$cWhite: white;
$cBlue: blue;
$cAqua: aqua;
$cRed: red;
$cButton: rgb(0, 191, 191);
$cInput: rgb(205, 205, 205);
$cLabel: rgb(251, 255, 88);
$cMenu: rgb(0, 196, 196);
$cDeleteHover: rgb(255, 64, 64);