@use "common" as *;
@use "background" as *;
@use "mq" as *;
@use "menu" as *;

body {
    @include screen-background("/sta/4557851_s.jpg");
}

form {
    padding-top: 100px;
    & div {
        @extend .font-lg;
        height: 60px;
        color: $cWhite;
        margin-top: 40px;
        & input {
            height: 30px;
            width: 100%;
            @extend .font-md;
            @include mq(lg) {
                height: 60px;
            }
        }
        @include mq(lg) {
            margin-top: 100px;      
        }
    }
    & .create-btn {
        @extend .font-lg;
        display: block;
        margin: 0 auto;
        background-color: $cAqua;
        color: $cWhite;
        border-radius: 5px;
        border: 1px solid $cWhite;
        box-shadow: 7px 7px 3px $cBlack;
        &:hover {
            background-color: $cCreateHover;
        }
    }
}