@use "common" as *;
@use "background" as *;
@use "mq" as *;

body {
    @include screen-background("/sta/4557851_s.jpg");
}

.quiz-set {
    @extend .main-title;
    color: $cWhite;
    padding: 20px 0;
    width: 130px;
    margin: 0 auto;
    @include mq(lg) {
        width: 250px
    }
}
.quizes-set {
    @extend .flex-container;
    width: 100%;
    & .one-quiz {
        height: 93px;
        position: relative;
        display: block;
        transform-style: preserve-3d;
        perspective: 300px;
        & span {
            @extend .font-lg;
            position: absolute;
            background-color: $cBlack;
            color: $cWhite;
            border: 3px solid $cWhite;
            margin-top: 10px;
            font-weight: 600;
            padding-left: 20px;
            border-radius: 10px;
            width: 100%;
            transition: all 0.3s;
            transform-origin: center center -46.5px;
        }
        & .quiz-word {
            transform: rotateX(0);
            opacity: 1;
        }
        & .quiz-sentence {
            transform: rotateX(90deg);
            opacity: 0;
        }
        &:hover {
            & .quiz-word {
                transform: rotateX(-90deg);
                opacity: 0;
            }
            & .quiz-sentence {
                transform: rotateX(0);
                opacity: 1;
            }
        }
        @include mq(lg) {
            width: 48%;
            margin-top: 20px;
        }
    } 
}
