body {
  background-image: url("/sta/sky_00040.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.title {
  height: 30px;
  width: 140px;
  margin: 0 auto;
  font-size: 50px;
  font-weight: 800;
  font-family: "Noto Serif Toto", serif;
}
@media (min-width: 960px) {
  .title {
    width: 230px;
  }
}
@media (min-width: 1280px) {
  .title {
    width: 340px;
  }
}
.title .char {
  display: inline-block;
  color: black;
}
.title .char:nth-child(1) {
  -webkit-animation-name: kf-jump;
          animation-name: kf-jump;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: calc(0.3s * 1);
          animation-delay: calc(0.3s * 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.title .char:nth-child(2) {
  -webkit-animation-name: kf-jump;
          animation-name: kf-jump;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: calc(0.3s * 2);
          animation-delay: calc(0.3s * 2);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.title .char:nth-child(3) {
  -webkit-animation-name: kf-jump;
          animation-name: kf-jump;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: calc(0.3s * 3);
          animation-delay: calc(0.3s * 3);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.title .char:nth-child(4) {
  -webkit-animation-name: kf-jump;
          animation-name: kf-jump;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: calc(0.3s * 4);
          animation-delay: calc(0.3s * 4);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.title .char:nth-child(5) {
  -webkit-animation-name: kf-jump;
          animation-name: kf-jump;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: calc(0.3s * 5);
          animation-delay: calc(0.3s * 5);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.title .char:nth-child(6) {
  -webkit-animation-name: kf-jump;
          animation-name: kf-jump;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: calc(0.3s * 6);
          animation-delay: calc(0.3s * 6);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.title .char:nth-child(7) {
  -webkit-animation-name: kf-jump;
          animation-name: kf-jump;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: calc(0.3s * 7);
          animation-delay: calc(0.3s * 7);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.title .char:nth-child(8) {
  -webkit-animation-name: kf-jump;
          animation-name: kf-jump;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: calc(0.3s * 8);
          animation-delay: calc(0.3s * 8);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.title .char:nth-child(9) {
  -webkit-animation-name: kf-jump;
          animation-name: kf-jump;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: calc(0.3s * 9);
          animation-delay: calc(0.3s * 9);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.title .char:nth-child(10) {
  -webkit-animation-name: kf-jump;
          animation-name: kf-jump;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: calc(0.3s * 10);
          animation-delay: calc(0.3s * 10);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.container {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.login {
  margin-top: 150px;
}
.login .title .char {
  color: white;
}
@media (min-width: 960px) {
  .login .title .char {
    font-size: 80px;
  }
}
@media (min-width: 1280px) {
  .login .title .char {
    font-size: 120px;
  }
}
.login .user-form {
  margin-top: 80px;
}
@media (min-width: 960px) {
  .login .user-form {
    margin-top: 140px;
  }
}
@media (min-width: 960px) {
  .login .user-form {
    margin-top: 200px;
  }
}
.login .user-form .form-label .form-title {
  color: white;
  font-size: 30px;
}
.login .user-form .form-label input {
  margin: 30px 0;
  background-color: rgb(205, 205, 205);
  color: black;
  display: block;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}
@media (min-width: 960px) {
  .login .user-form .form-label input {
    font-size: 40px;
    padding: 20px;
  }
}
@media (min-width: 1280px) {
  .login .user-form .form-label input {
    font-size: 50px;
    padding: 30px;
  }
}
.login .user-form .form-label input::-moz-placeholder {
  font-size: 20px;
  padding: 10px;
}
.login .user-form .form-label input:-ms-input-placeholder {
  font-size: 20px;
  padding: 10px;
}
.login .user-form .form-label input::placeholder {
  font-size: 20px;
  padding: 10px;
}
@media (min-width: 960px) {
  .login .user-form .form-label input::-moz-placeholder {
    font-size: 40px;
    padding: 20px;
  }
  .login .user-form .form-label input:-ms-input-placeholder {
    font-size: 40px;
    padding: 20px;
  }
  .login .user-form .form-label input::placeholder {
    font-size: 40px;
    padding: 20px;
  }
}
@media (min-width: 1280px) {
  .login .user-form .form-label input::-moz-placeholder {
    font-size: 50px;
    padding: 30px;
  }
  .login .user-form .form-label input:-ms-input-placeholder {
    font-size: 50px;
    padding: 30px;
  }
  .login .user-form .form-label input::placeholder {
    font-size: 50px;
    padding: 30px;
  }
}
@media (min-width: 960px) {
  .login .user-form .form-label input {
    margin: 60px 0;
    height: 80px;
  }
}
@media (min-width: 960px) {
  .login .user-form .form-label input {
    margin: 60px 0;
    height: 100px;
  }
}
.login .user-form .form-label #submit {
  width: 60%;
  height: 60px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: rgb(0, 191, 191);
  margin: 30px auto;
  padding: 10px 20px;
  border: none;
  border: 2px solid rgb(0, 191, 191);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.login .user-form .form-label #submit:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}
@media (min-width: 960px) {
  .login .user-form .form-label #submit {
    height: 100px;
    border-radius: 60px;
    font-size: 50px;
  }
}
@media (min-width: 960px) {
  .login .user-form .form-label #submit {
    height: 110px;
    border-radius: 60px;
    font-size: 60px;
  }
}

.error-message {
  color: white;
}

@-webkit-keyframes kf-jump {
  0%, 25% {
    transform: translateY(0);
  }
  12.5% {
    transform: translateY(-10px);
  }
}

@keyframes kf-jump {
  0%, 25% {
    transform: translateY(0);
  }
  12.5% {
    transform: translateY(-10px);
  }
}/*# sourceMappingURL=login.css.map */