@use "animation" as *;
@use "mq" as *;
@use "animation" as *;
@use "background" as *;
@use "common" as *;

body {
    @include screen-background("/sta/sky_00040.jpg");
}

.login {
    margin-top: 150px;
    & .title {
        height: 30px;
        width: 210px;
        margin: 0 auto;
        @include mq(lg) {
            width: 410px;
        }

        & .char {
            @extend .main-title;
            display: inline-block;
            color: $cWhite;
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    @include kf-animation(
                        $name: kf-jump,
                        $duration: 5s,
                        $timing-function: ease-in,
                        $delay: calc(0.3s * #{$i}),
                        $iteration-count: infinite
                    );
                }
            }
        }
    }
    & .user-form {
        margin-top: 80px;
        @include mq(lg) {
            margin-top: 140px;
        }
        @include mq(lg) {
            margin-top: 200px;
        }
        & .form-label {
            & input {
                margin: 30px 0;
                background-color: $cInput;
                display: block;
                height: 50px;
                width: 100%;
                border-bottom: 1px solid $cWhite;
                border: none;
                cursor: pointer;

                @extend .font-md;
                padding: 10px;
                &::placeholder {
                    @extend .font-md;
                    padding: 10px;
                }

                @include mq(lg) {
                    margin: 60px 0;
                    height: 80px;
                }
                @include mq(lg) {
                    margin: 60px 0;
                    height: 100px;
                }
            }
            & #submit {
                width: 60%;
                height: 60px;
                line-height: 30px;
                text-align: center;
                color: $cWhite;
                background-color: $cButton;
                margin: 30px auto;
                padding: 10px 20px;
                border: 2px solid $cButton;
                border-radius: 30px;
                cursor: pointer;
                transition: all 0.3s;
                @extend .font-lg;
                &:hover {
                    color: $cWhite;
                    background-color: $cBlack;
                    border: 2px solid $cWhite;
                }
                @include mq(lg) {
                    height: 100px;
                    border-radius: 60px;
                }
                @include mq(lg) {
                    height: 110px;
                    border-radius: 60px;
                }
            }
        }
    }
}

.error-message {
    color: $cWhite;
}

@keyframes kf-jump {
    0%, 25% {
        transform: translateY(0);
    }
    12.5% {
        transform: translateY(-10px);
    }
}