{% extends 'menu.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'menu.css' %}">
<link rel="stylesheet" href="{% static 'detail.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container">
    <div class="quiz-set">
        Quiz
    </div>
    <div class="quizes-set">
        {% for item in quiz %}
        <div class="one-quiz">
            <span class="quiz-word">
                {{ item.word }}
            </span>
            <span class="quiz-sentence">
                {{ item.sentence }}
            </span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block customjs %}
<script src="{% static 'menu.js' %}"></script>
<script src="{% static 'detail.js' %}"></script>
{% endblock customjs %}