{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'menu.css' %}">
{% endblock customcss %}

{% block header %}
<div class="menu">
    <div class="menu-button">
        <div class="spinner"></div>
        <div class="spinner"></div>
        <div class="spinner"></div>
    </div>
    <div class="menu-options">
        <ul>
            <li><a href="{% url 'logout' %}">ログアウト</a></li>
            <li><a href="{% url 'edit_quizsets' %}">単語セット編集</a></li>
            <li><a href="{% url 'list' %}">リストに戻る</a></li>
        </ul>
        <div class="waves">
            <span class="wave"></span>
            <span class="wave"></span>
            <span class="wave"></span>
        </div>
    </div>
</div>
{% endblock header %}

{% block customjs %}
<script src="{% static 'menu.js' %}"></script>
{% endblock customjs %}